## Set to name of game
#game_name: ""

## Path to game files
#game_path: ""

## Maps to exclude from multiplayer
#sp_rooms: ""

## Sounds to exclude from multiplayer
#bad_sounds: ""

## Pictures to sync in multiplayer
#picture_names: ""

## Picture prefixes to sync in multiplayer
#picture_prefixes: ""

## Battle Animation IDs to sync in multiplayer
#battle_anim_ids: ""

## YNOclient signature key
#sign_key: ""

## IPHub API key, leave blank to disable VPN check
#iphub_key: ""

## Logging settings
logging:
  ## Size of log file (MB)
  #max_size: 50

  ## Log files to keep
  #max_backups: 6

  ## After how many days to remove logs
  #max_age: 28
