@font-face {
  font-family: 'MS Gothic';
  src: url('ms-gothic.woff2') format('woff2'),
       url('ms-gothic.woff') format('woff');
}

html {
  font-family: 'MS Gothic';
  color: white;
  background-color: black;
}

#game_frame {
  display: block;
  width: 100%;
  height: 480px;
  margin: 0 auto;
}

#chatbox {
  height: 617px;
}

#messages {
  margin-right: 1px;
  width: 283px;
  height: 70%;
  border: 2px solid white;
  overflow-y: auto;
}

#chatInputContainer {
  width: auto;
  height: 26px;
  margin-right: 1px;
  margin-top: 2px;
  margin-bottom: 5px;
}

#chatInput {
  width: -webkit-calc(100% - 7px);
  width:    -moz-calc(100% - 7px);
  width:         calc(100% - 7px);
  height: 26px;
  border: 1px solid white;
}

#enterNameContainer {
  margin-right: 1px;
  width: auto;
  height: auto;
  border: 2px solid white;
}

#instructions {
  text-align: center;
}

.message {
  word-wrap: break-word;
  border: 1px solid #b0b0b0;
}

table, tr, td {
  border: 1px solid white;
}

table {
  width: 1000px;
  margin: 0 auto;
  height: 623px;
}

